.home-container {
  margin: 0 auto;
  padding: 1rem 1rem;
}

.hero-section {
  margin-bottom: 2rem;
  text-align: center;
}

.hero-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 7rem;
  }
}

.hero-underline {
  height: 4px;
  background-color: #dc2626;
  width: 100%;
  margin-bottom: 2rem;
}

.content-grid {
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .content-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.left-column{
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.right-column{
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tagline {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.description {
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}

.cta-button {
  background-color: black;
  color: white;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.2s;
  font-size: 1.2rem;
}

.cta-button:hover {
  background-color: #1f2937;
}

.arrow {
  font-size: 1.25rem;
}

.image-placeholder {
  background-color: #d1d5db;
  height: 10rem;
  width: 27rem;
  border-radius: 0.25rem;
}

.left-image-placeholder {
  background-color: #d1d5db;
  height: 22.8rem;
  width: 40rem;
  border-radius: 0.25rem;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (min-width: 1024px) {
  .image-placeholder {
    height: 17rem;
  }
}